<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>

<body>
    <form action="/form" method="POST">
        <label for="">Nome</label><br>
        <input type="text" name="nome" placeholder="Nome" value="<%= nome %>"><br>
        <label for="">Email</label><br>
        <%= nomeError %><br>
            <input type="email" name="email" placeholder="email" value="<%= email %>"><br>
            <label for="">Pontos</label><br>
            <%= emailError %><br>
                <input type="number" name="pontos" placeholder="Pontos" value="<%= pontos %>"><br>
                <%= pontosError %><br>
                    <button type="submit">Enviar</button>
    </form>

</body>

</html>